.anchor-pane {
    -fx-background-image: url("/Background.jpg");
    -fx-background-size: cover; /* Adatta l'immagine alle dimensioni dell'AnchorPane */
    -fx-background-repeat: no-repeat;
}

.backgroundTransparent{
    -fx-background-color: transparent !important;
}